<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to 'Pinteresting', root_path, class: 'navbar-brand' %>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <div class="navbar-right">

        <% if user_signed_in? %>

          <%= link_to new_pin_path, class: 'btn btn-primary navbar-btn' do %>
            <span class="glyphicon glyphicon-plus"></span> New Pin
          <% end %>

          <%= link_to 'Log Out', destroy_user_session_path, class: 'btn btn-default navbar-btn', method: :delete %></li>

        <% else %>

          <%= link_to new_user_session_path, class: 'btn btn-default navbar-btn' do %>
            <span class="glyphicon glyphicon-lock"></span> Log In
          <% end %>

        <% end %>

      </div>

      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account Settings <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Edit', edit_user_registration_path %></li>
            </ul>
          </li>

        <% end %>

      </ul>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container -->

</nav>