<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<%= render 'layouts/header' %>

	<div class="container">

		<% flash.each do |name, msg| %>
			
			<%= content_tag(:div, msg, class: 'alert alert-info') %>

		<% end %>

		<%= yield %>

	</div>

	<div class="row footer">
		
		<div class="container">
			
			<p>Built by RJ McCollam | Find me online at <a href="http://www.rjmccollam.com">www.rjmccollam.com</a> &amp; on Twitter at <a href="http://twitter.com/rjmccollam">@rjmccollam</a></p>

		</div>	

	</div>

</body>
</html>
